.heating {
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  font-size: 40px;
  text-align: center;
  position: relative;
}

.cooling {
  width: 100px;
  height: 100px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  font-size: 40px;
  text-align: center;
  position: relative;
}

.heatingHC {
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.coolingHC {
  width: 100px;
  height: 100px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.off {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  font-size: 40px;
  text-align: center;
  position: relative;
}

.heatingText {
  font-size:medium;
  position: absolute;
  top: -20px;
  left: 10px;
  width: 0;
}

.coolingText {
  font-size:medium;
  position: absolute;
  top: -20px;
  right: 25px;
  width: 0;
}

.humidityText {
  position:absolute;
  font-size:large;
  top: 60%;
  width: 100%;
}