/*
  Akkurat is a licensed font.  As such it is not included with this module.
  You don;t need it -- this module will fall back to Roboto, but if you want
  the display to look as Nest-like as possible, accquire the web-font Akkurat
  and place in MagicMirror's /fonts/ folder, in a subfolder named "Akkurat".
  Be sure to name your file akkurat-webfont.woff or akkurat-webfont.woff2
  depending on what format you have.
*/

@font-face {
  font-family: 'akkuratregular';
  src: url('/fonts/Akkurat/akkurat-webfont.woff2') format('woff2'),
       url('/fonts/Akkurat/akkurat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.MMM-Nest .module-content {
  font-family: "akkuratregular", "Roboto";
}

.MMM-Nest .heatingText {
  font-size:medium;
  position: absolute;
  top: -20px;
  left: 10px;
  width: 0;
}

.MMM-Nest .coolingText {
  font-size:medium;
  position: absolute;
  top: -20px;
  right: 25px;
  width: 0;
}

.MMM-Nest .humidityText {
  position:absolute;
  font-size:large;
  top: 60%;
  width: 100%;
}

.MMM-Nest .nameText {
 font-size:medium;
 text-align:center;
 width:33%;
}

.MMM-Nest .center {
 text-align:center;
}

.MMM-Nest .heatingCell {
 background:red;
 background:linear-gradient(to right, #990000 , red, #990000);
}

.MMM-Nest .coolingCell {
 background-color:blue;
 background:linear-gradient(to right, #000099 , blue, #000099);
}

.MMM-Nest .fanIcon {
 height:15px;
 width:15px;
 position:absolute;
 top: 72%;
 right: 42%;
}

.MMM-Nest .nameText {
  width: 120px;
  font-size: 18px;
}

.MMM-Nest .humidityText {
  top: 0;
  display: block;
  margin-top: 135px;
  line-height: 1;
}

.MMM-Nest .humidityText:after {
  content: "Inside Humidity";
  text-transform: uppercase;
  color: #999;
  font-size: 70%;
  display:block;
  line-height: 1.5;
}

@keyframes MMM-Nest-spin { 
  from { 
    transform: rotate(0deg);
  } to { 
    transform: rotate(360deg); 
  }
}

.MMM-Nest .fanIcon {
  filter: brightness(130%) saturate(0%);
  animation-name: MMM-Nest-spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
  top: 90px;
  left: 53px;
  right: initial;
}

.MMM-Nest .heating .fanIcon,
.MMM-Nest .cooling .fanIcon,
.MMM-Nest .coolingHC .fanIcon,
.MMM-Nest .heatingHC .fanIcon {
  filter: brightness(200%) saturate(0%);
}

.MMM-Nest .off,
.MMM-Nest .heating,
.MMM-Nest .cooling {  
  width: 120px;
  height: 120px;
  border-radius: 70px;
  font-size: 45px;
  line-height: 120px;
  border: none;
}

.MMM-Nest .heatingHC,
.MMM-Nest .coolingHC,
.MMM-Nest .offHC {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  font-size: 35px;
  line-height: 120px;
  border: none;
  text-align: center;
  position: relative;
}


.MMM-Nest .off,
.MMM-Nest .offHC {
  background: rgb(74, 83, 91);
  background: -moz-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
  background: -webkit-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
  background: -o-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
  background: -ms-linear-gradient(90deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
  background: linear-gradient(180deg, rgb(74, 83, 91) 0%, rgb(40, 48, 55) 100%);
}

.MMM-Nest .heating,
.MMM-Nest .heatingHC {
  background: rgb(238, 127, 0);
  background: -moz-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
  background: -webkit-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
  background: -o-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
  background: -ms-linear-gradient(90deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
  background: linear-gradient(180deg, rgb(238, 127, 0) 0%, rgb(229, 89, 40) 100%);
  color: #FFF;
}

.MMM-Nest .cooling,
.MMM-Nest .coolingHC {
  background: rgb(5, 95, 255);
  background: -moz-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
  background: -webkit-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
  background: -o-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
  background: -ms-linear-gradient(90deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
  background: linear-gradient(180deg, rgb(5, 95, 255) 0%, rgb(1, 57, 255) 100%);
  color: #FFF;
}

.MMM-Nest .blankDecimalSpacer {
  opacity: 0;
}
